[submodule "app/panel/hr"]
	path = app/panel/hr
	url = https://github.com/revoltchat/admin-panel-hr.git
	update = none
[submodule "app/panel/mod"]
	path = app/panel/mod
	url = https://github.com/revoltchat/admin-panel-moderation.git
	update = none
